<!-- see and edit selected patient view -->
<div class="form-inline" ng-controller="PatientDetailCtrl">
    <form class=" form-horizontal" name="myForm" role="form">
        <div>Patient ID</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.id" disabled>
        </div>
        <div>First Name</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.firstName" ng-pattern="fn" required>
        </div>
        <div>Last Name</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.lastName" ng-pattern="ln" required />
        </div>
        <div>Phone Number</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.phoneNo" ng-pattern="pn" required>
        </div>
        <div>Last Visit Date (DD/MM/YYYY)</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.lastVisitDate" ng-pattern="dt" required />
        </div>
        <div>Status (Active or Inactive)</div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="patient.Status" ng-pattern="st" required />
        </div>
        <br />
        <br />
        <div>
            <input class="btn btn-info" ng-click="save()" type="button" value="Save">
        </div>
    </form>
</div>